body{
  background: #eee;
}
header {
  overflow: hidden;
  padding: 70px 0;
  position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
.ui.container{
  max-width: 900px !important;
  overflow: hidden;
}
#gambar-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
#gambar-bg img{
  position: relative;
  -webkit-filter: blur(3px);
}
#foto-profil{
  position: relative;
}
#foto{
  float:left;
  margin-right: 10px;
  border-radius: 100%;
  box-shadow: 1px 1px 3px #333;
}
#nama{
  position: relative;
  top: 50px;
}
#nama *{
  margin: 0px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.container{
  padding: 20px 0;
}
.container h2{
  text-align: center;
}
#about table td{
  border: 0px;
}
#about table td:first-child{
  font-weight: bold;
}
#list-icon{
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #ccc;
}
#list-icon a{
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
#list-icon a:last-child{
  background: #287bbc;
}
#list-icon a:nth-child(3){
  background: #17bf63;
}
#list-icon a:nth-child(2){
  background: #03a9f4;
}
#list-icon a:first-child{
  background: #3b5998;
}
#list-icon a:hover{
  background: #333;
}

.xp .kiri {
    float: left;
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.xp .kiri .tahun{
    background: #F44336;
    color: #fff;
}

.xp {
    float: left;
    width: 50%;
}

.xp .dalam{
    background: #fff;
    overflow: hidden;
    box-shadow: 1px 1px 3px #ccc;
    margin: 5px 10px;
}

.xp .penjelasan{
    padding: 10px;
    overflow: hidden;
}

.xp .penjelasan h2 {
    text-align: left;
    font-size: 15px;
}

.xp .penjelasan h3, .xp .penjelasan small {
    color: #adadad;
    font-size: 13px;
}

.xp .penjelasan *{
    margin: 0px;
}
